Repository rustprooflabs/pgosm-flex, pull requests merged in 2022-02, with the labels that each got.

#228 Ignore postal_code as a building
  flex-config/style/building.lua
Labels: bug

#230 Place layer missing expected boundary records
  flex-config/style/building.lua
  flex-config/style/place.lua
  tests/data/extra-regions/test-addr-postal-code.osm.pbf
  tests/expected/vbuilding_all_osm_type_subtype_count.out
Labels: bug

#231 Reduce log output
  docker/db.py
  docker/helpers.py
  docker/osm2pgsql_recommendation.py
Labels: Technical Debt, Docker

#232 Fix absolute path with `--input-file`
  docker/osm2pgsql_recommendation.py
  requirements.txt
Labels: bug, Docker

#233 Improve --input-file help message
  docker/pgosm_flex.py
  docs/DOCKER-RUN.md
Labels: documentation, Docker
